Packages
.build
xcuserdata
*.xcodeproj
DerivedData/
.DS_Store
db.sqlite
.swiftpm
.env
.vscode
.idea

# While it's generally good practice to check this in, it causes problems when
# builds can happen in different environments with, consequentially, different
# formats for Package.resolved. When in doubt, look at the Docker container to
# see what it is actually using.
Package.resolved

# local dev scripts
dev.sh
ng_tunnel.sh
dev.dockerfile
.claude
run_server.sh
.env.development
data
box_auth.sh
