Packages
.build
xcuserdata
*.xcodeproj
DerivedData/
.DS_Store
db.sqlite
.swiftpm
.env
.vscode
.idea

# local dev scripts
dev.sh
ng_tunnel.sh
dev.dockerfile
.claude
run_server.sh
.env.development
data
state
box_auth.sh
